/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(88, 53, 10);
}

footer p {
  margin-bottom: .25rem;
}

footer a {
  color: white !important;
}

footer a:hover, a:focus {
  color: white !important;
}

.clear {
  clear: both;
}

.map-container-small{
  overflow:hidden;
  position:relative;
  height:300px;
  width: 450px;
}
.map-container-small iframe{
  height:100%;
  width:100%;
  position:absolute;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:450px;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.borderless li {
  border: 0px;
  padding:0px;
  margin:0px;
}

iframe {
  height:100%;
  width:100%;
  border:0;
}