/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(88, 53, 10);
}

footer p {
  margin-bottom: .25rem;
}

footer a {
  color: white !important;
}

footer a:hover, a:focus {
  color: white !important;
}

.clear {
  clear: both;
}

.map-container-responsive {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.map-container-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 300px;
  border: 0;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:450px;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.borderless li {
  border: 0px;
  padding:0px;
  margin:0px;
}

iframe {
  height:100%;
  width:100%;
  border:0;
}