.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.navbar-brand img {
  -webkit-filter:  brightness(0) invert(1); /* Safari 6.0 - 9.0 */
    filter:  brightness(0) invert(1);
}

.nav-transparent {
  background-color: transparent !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-transparent-invert {
  background-color: rgb(88, 53, 10);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-transparent-invert a {
  color: white !important;
}

.nav-transparent-invert a:hover {
  color: white !important;
}

.nav-transparent a {
  color: white !important;
}

.nav-transparent a:hover {
  color: white !important;
}

.navbar-brand img:hover {
    -webkit-transition : -webkit-filter 500ms linear;
}


